.outMain{
	width: 100%;
	height: 1160px;
	background:#fff7db;
	border-top: 1px solid #fff7db;
}

.text{
	width: 950px;
	height: 1100px;
	margin: auto;
	margin-top:50px;
}

.template{
	font-weight: bold;
	color:#975c2a;
	line-height: 40px;
}

.info{
	color:#b49387;
	margin-bottom: 40px;
}

.info1{
	color:#b49387;
	text-indent: 3em;
}
