/** {
	padding: 0;
	margin: 0;
	list-style: none;
}

.outHead {
	width: 100%;
	height: 160px;
	background: url(../img/bg-header.jpg);
}

.head {
	width: 950px;
	height: 160px;
	margin: auto;
}

.logo{
	width: 326px;
	height:160px;
	float: left;
}

.rightHead{
	width: 525px;
	height: 160px;
	text-align: center;
    line-height: 160px;
    cursor: pointer;
    float: right;
}

.rightHead>ul>li{
	width: 105px;
	height: 160px;
	float: left;
}

.rightHead>ul>li>a{
	text-decoration: none;
	color: #9b660b;
}

.rightHead>ul>li>a:hover{
	color:#e29b1f;
}*/

.outMain{
	width: 100%;
	height: 1160px;
	background:#fff7db;
}

.imgAd{
	width: 920px;
	height: 550px;
	margin: auto;
}

.text{
	width: 610px;
	height: 150px;
	text-align: center;
	margin: auto;
	text-indent: 2em;
	color:#aa9387;
	margin-top: 30px;
}

.products{
	width: 950px;
	height: 300px;
	margin: auto;
	margin-top: 60px;
}

.products>ul>li{
	width: 306px;
	height: 300px;
	float: left;
	margin-left: 8px;
}

.products>ul>li>p{
	text-align: center;
	text-indent: 2em;
	color:#aa9387;
	font-size: 10px;
	line-height: 200%;
}

.products>ul>li>img{
	margin-top: 15px;
}

/*.footBar{
	width: 100%;
	height: 10px;
	background: url(../img/content-border.jpg);
}

.foot{
	width: 100%;
	height: 150px;
	background: url(../img/bg-body.jpg);
}

.icon{
	width: 340px;
	height: 100px;
	margin: auto;
}

.icons{
	width: 40px;
	height: 40px;
	overflow: hidden;
	float: left;
	position: relative;
	margin-left: 35px;
	margin-top: 30px;
}

.inIcon{
	width: 40px;
	height: 186px;
	background: url(../img/icons.png);
}*/
